# League of legends crawler

#### primary site for this project: [https://tracker.gg/lol](https://tracker.gg/lol)

This crawler is built using [selenium](https://www.selenium.dev/documentation/) using the firefox webdriver

In [1]:
from selenium import webdriver
from selenium.webdriver.firefox.service import Service as FirefoxService
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Firefox(service=FirefoxService(GeckoDriverManager().install()))

driver.get("https://tracker.gg/lol/leaderboards/stats/all/LeaguePoints?region=NA&queueType=RANKED_SOLO_5x5")

driver.implicitly_wait(3)

[WDM] - Downloading: 19.0kB [00:00, 8.07MB/s]
[WDM] - Downloading: 100%|██████████| 2.85M/2.85M [00:18<00:00, 160kB/s]

### North America Leaderboard

In [3]:
na_leaderboard = driver.find_elements(By.TAG_NAME, 'tr')

In [4]:
# python lists to store data

overall_position = []
player_name = []
rank = []
league_points = []
win_rate = []
matches_played = []

In [5]:
for player in na_leaderboard:

    new_list = player.text.split()

    if len(new_list) == 6:

        overall_position.append(new_list[0])
        player_name.append(new_list[1])
        rank.append(new_list[2])
        league_points.append(new_list[3])
        win_rate.append(new_list[4])
        matches_played.append(new_list[5])

    elif len(new_list) == 7:

        two_name_player = new_list[1] + new_list[2]

        overall_position.append(new_list[0])
        player_name.append(two_name_player)
        rank.append(new_list[3])
        league_points.append(new_list[4])
        win_rate.append(new_list[5])
        matches_played.append(new_list[6])

    elif len(new_list) == 8:

        three_name_player = new_list[1] + new_list[2] + new_list[3]

        overall_position.append(new_list[0])
        player_name.append(three_name_player)
        rank.append(new_list[4])
        league_points.append(new_list[5])
        win_rate.append(new_list[6])
        matches_played.append(new_list[7])

print(overall_position)
print(player_name)
print(rank)
print(league_points)
print(win_rate)
print(matches_played)

['1', '2', '3', '4', '6', '7', '8', '9', '12', '16', '17', '18', '18', '20', '21', '22', '24', '25', '28', '32', '36', '39', '40', '44', '45', '47', '47', '49', '50', '52', '52', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '66', '67', '68', '70', '72', '72', '76', '77', '81', '82', '84', '85', '86', '87', '87', '89', '92', '94', '95', '95', '98', '99', '100']
['PwVxHc9999na', 'Wakanda', 'c2', 'MU', 'Twitchtv', 'thepob', 'winnie', 'Topo', 'WxMjm978244659', 'ctrIc', 'dogkachu', '100Sword', 'niinim', 'Srtty', 'duoking1', 'Samikin', '100Tenacity', 'knownwin', 'lolDaddyVladdy', 'wechat', 'Sarcasm', 'TTVKoKooPuffs', 'Iinks', 'Prestige', 'pizzaman007', '10iQPLAYER', 'Trixter2', 'TLHonda', 'N', 'lqs1', 'Bazz', 'Daption2', 'ScrubNoob', 'TEAMOKARLA', 'adchunter', '1nori', 'TempestLoveYuely', 'TLHonda', 'OneDan', 'Biofrost', 'TTVPocket', 'goo1500', 'LFT', 'FLYYuuji', 'jojoooooooooooo', 'VULCAN10', 'IlllIIIlllIIIll', 'TheTank', 'CLG', 'Competition9', 'Busio3', 'TSMChime', 'SnowyStepz', 'AnNuol', 'Bei', 'ZativertVi', 'DrPebba', 'featherof', 'big', 'Livatious', 'Last', 'Revenge', 'TLHondaBwipo', 'EU', 'blondedahyun']
['Challenger', 'f0rever', 'meteos', 'APA', 'Cupic', 'Challenger', 'poohbear', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'trader', 'Challenger', 'Hc9999na', 'Orgasm', 'Challenger', 'Challenger', 'Bot', 'Challenger', 'Challenger', 'Challenger', 'CoreJJ', 'L', 'Challenger', 'B', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Santorin', 'Challenger', 'Challenger', 'Rhino', 'Challenger', 'dtro18', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Man', 'poome', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'Challenger', 'truth', 'dacko', 'Challenger', 'wisper', 'Challenger', 'Challenger', 'Red', 'Challenger']
['1768', 'Challenger', 'Challenger', 'Challenger', 'Challenger', '1572', 'Challenger', '1520', '1431', '1296', '1291', '1272', '1272', '1270', '1266', '1262', '1252', 'Challenger', '1229', 'Challenger', 'Challenger', '1204', '1201', 'Challenger', '1175', '1170', '1170', 'Challenger', 'Challenger', '1157', 'Challenger', '1155', '1152', '1151', '1149', '1148', '1147', 'Challenger', '1141', '1139', 'Challenger', '1135', 'Challenger', '1125', '1120', '1117', '1114', 'Challenger', 'Challenger', '1106', '1101', '1098', '1086', '1085', '1083', '1078', '1078', 'Challenger', 'Challenger', '1061', 'Challenger', '1058', '1056', 'Challenger', '1049']
['100%', '1684', '1670', '1651', '1611', '61%', '1522', '67%', '33%', '0%', '50%', '67%', '67%', '59%', '40%', '57%', '50%', '1250', '50%', '1219', '1207', '33%', '51%', '1177', '67%', '0%', '50%', '1167', '1163', '48%', '1157', '71%', '50%', '50%', '100%', '50%', '0%', '1145', '0%', '59%', '1138', '0%', '1129', '53%', '61%', '27%', '0%', '1114', '1108', '60%', '50%', '62%', '48%', '54%', '0%', '75%', '62%', '1077', '1065', '100%', '1058', '58%', '56%', '1055', '61%']
['1', '0%', '0%', '0%', '0%', '127', '0%', '3', '3', '2', '4', '9', '21', '123', '10', '46', '2', '0%', '6', '0%', '0%', '6', '35', '0%', '3', '2', '4', '0%', '0%', '62', '0%', '17', '24', '4', '1', '2', '1', '0%', '1', '109', '0%', '1', '0%', '17', '61', '15', '1', '0%', '0%', '5', '12', '47', '56', '70', '1', '12', '8', '0%', '0%', '1', '0%', '53', '9', '0%', '205']

In [6]:
# check if lists are empty

assert (overall_position != []), 'list is empty'
assert (player_name != []), 'list is empty'
assert (rank != []), 'list is empty'
assert (league_points != []), 'list is empty'
assert (win_rate != []), 'list is empty'
assert (matches_played != []), 'list is empty'

In [7]:
# closing the driver session

driver.quit()

## Generate data frame and csv file

In [8]:
import pandas as pd

In [9]:
# create a dataframe

df = pd.DataFrame({
    "overall_position": overall_position,
    "player_name": player_name,
    "rank": rank,
    "league_points": league_points,
    "win_rate": win_rate,
    "matches_played": matches_played
})

df

,overall_position,player_name,rank,league_points,win_rate,matches_played
0,1,PwVxHc9999na,Challenger,1768,100%,1
1,2,Wakanda,f0rever,Challenger,1684,0%
2,3,c2,meteos,Challenger,1670,0%
3,4,MU,APA,Challenger,1651,0%
4,6,Twitchtv,Cupic,Challenger,1611,0%
...,...,...,...,...,...,...
60,95,Last,wisper,Challenger,1058,0%
61,95,Revenge,Challenger,1058,58%,53
62,98,TLHondaBwipo,Challenger,1056,56%,9
63,99,EU,Red,Challenger,1055,0%
64,100,blondedahyun,Challenger,1049,61%,205

In [10]:
# create csv file

df.to_csv("na_leaderboard.csv", index=False)